*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.outer-container {
  margin-left: auto;
  margin-right: auto;
  padding: 30px 40px;
  width: 200px;
  height: 300px;
  background-color: rgb(109, 200, 243);
  border-radius: 8px;
  border: 8px solid rgb(239, 196, 42);
}

.inner-container {
  height: auto;
  width: 100%;
  background-color: blueviolet;
}

.card-image {
  width: 100%;
}

.card-name {
}
